/* generic */

body {
  margin: 0;
}

img {
  max-width: 100%;
}

/* utils */

.flex {
  display: flex;
}

.blue-bg {
  background-color: rgb(0, 97, 255);
}

.container-bg {
  background-color: rgb(180, 208, 231);
}

.medium-section {
  margin: 0 auto;
  width: 1000px;
}

.small-section {
  margin: 0 auto;
  width: 800px;
}

.border {
  border: solid darkgray 1px;
}

.border-fixed {
  border-bottom: solid darkgray 1px;
}

.margin {
  margin: 20px 20px 20px 0;
}

.margin-left {
  margin-left: 20px;
}

/* header style */

header {
  margin: 0;
}

nav {
  height: 75px;
}

header ul {
  list-style: none;
}

.header-nav {
  justify-content: space-between;
  align-items: center;
}

nav li {
  padding: 20px;
}

nav a {
  text-decoration: none;
  color: gray;
}

.blue-li {
  color: white;
  padding: 5px 15px;
}

/* main section */

/* main title section */

.main-title-section {
  height: 600;
  font-size: 1.2rem;
}

.main-title-flex {
  flex-direction: column;
  justify-content: flex-start;
}

.text-img-div {
  align-items: fle;
}

.main-title {
  font-size: 2.5rem;
  margin-top: 50px;
}

.text-div {
  width: 45%;
}

.jumbo {
  width: 65%;
}

.free-try {
  color: white;
  border: none;
  padding: 10px 30px;
  margin: 15px 0px;
}

.freccia {
  font-size: 2rem;
  margin-top: 40px;
  justify-self: flex-end;
}

/* business container */

.business-flex {
  align-items: stretch;
}

.business-main-div {
  margin: 50px 0px;
}

.button-section {
  padding: 20px 0;
}

.business-span {
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 30px;
}

.h2-business {
  margin-left: 20px;
}

.mini-title-div {
  text-align: center;
}

.price {
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 20px;
}

.period {
  color: gray;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 0px;
  margin-left: 20px;
}

.ul-business {
  list-style: none;
  padding-left: 2px;
}

.li-business {
  margin-bottom: 15px;
  margin-left: 20px;
}

.item-business {
  margin-right: 5px;
}

.business-button {
  padding: 10px 20px;
  border: none;
  color: white;
}

hr {
  width: 50px;
}

.orizontal-content {
  margin: 20px;
  width: 65%;
}

.third-box {
  margin: 20px 0px;
}

.orizontal-button-div {
  margin: 20px;
  width: 30%;
}

.orizontal-button {
  margin: 20px 0px 0px 40px;
  color: white;
  padding: 10px 30px;
  border: none;
}
