/* generic */

body {
  margin: 0;
}

img {
  max-width: 100%;
}

/* utils */

.flex {
  display: flex;
}

.blue-bg {
  background-color: rgb(0, 97, 255);
}

.container-bg {
  background-color: rgb(180, 208, 231);
}

.medium-section {
  margin: 0 auto;
  width: 1000px;
}

/* header style */

header {
  margin: 0;
}

nav {
  height: 75px;
}

ul {
  list-style: none;
}

.header-nav {
  justify-content: space-between;
  align-items: center;
}

nav li {
  padding: 20px;
}

nav a {
  text-decoration: none;
  color: gray;
}

.blue-li {
  color: white;
  padding: 5px 15px;
}

/* main section */

/* main title section */

.main-title-section {
  height: 700px;
}

.text-img-div {
  align-items: flex-start;
}

.main-title {
  font-size: 2.5rem;
  margin-top: 50px;
}

.text-div {
  width: 45%;
}

.jumbo {
  width: 55%;
}

.free-try {
  color: white;
  border: none;
  padding: 10px 30px;
  margin: 15px 0px;
}

.freccia {
  margin: 25px 0px;
  font-size: 2rem;
}
