/* generic */

html {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

button:hover {
  cursor: pointer;
}

hr {
  width: 50px;
}

/* utils */

.flex {
  display: flex;
}

.blue-bg {
  background-color: rgb(0, 97, 255);
}

.container-bg {
  background-color: rgb(180, 208, 231);
}

.medium-section {
  margin: 0 auto;
  width: 1000px;
}

.small-section {
  margin: 0 auto;
  width: 800px;
}

.border {
  border: solid darkgray 1px;
}

.border-fixed {
  border-bottom: solid darkgray 1px;
}

.margin {
  margin: 20px 20px 20px 0;
}

.margin-left {
  margin-left: 20px;
}

.hr-div {
  border: solid rgb(175, 175, 175) 1px;
  width: 50px;
  margin-left: 20px;
}

/* header style */

header {
  margin: 0;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

#logo {
  align-items: center;
}

.stretch {
  justify-content: stretch;
}

nav {
  height: 60px;
}

header ul {
  list-style: none;
  white-space: nowrap;
}

.header-nav {
  justify-content: space-between;
  align-items: center;
}

nav li {
  padding: 20px;
}

nav a {
  text-decoration: none;
  color: gray;
}

.blue-li {
  color: white;
  padding: 5px 15px;
}

/* main section */

/* main title section */

.main-title-section {
  height: 520px;
  font-size: 1.2rem;
}

#title {
  margin-top: 0px;
}

.main-title {
  font-size: 2rem;
}

.text-div {
  width: calc(100% / 3 * 1);
}

.jumbo {
  width: calc(100% / 3 * 2);
}

.p-div {
  margin-top: 0;
}

.free-try {
  color: white;
  border: none;
  padding: 10px 30px;
}

.freccia {
  font-size: 2rem;
  margin-top: auto;
}

/* business container */

.business-flex {
  align-items: stretch;
}

.business-main-div {
  margin: 80px 0px 50px;
}

.button-section {
  padding: 20px 0;
}

.business-span {
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 30px;
}

.h2-business {
  margin-left: 20px;
}

.mini-title-div {
  text-align: center;
}

.price {
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 20px;
}

.period {
  color: gray;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 0px;
  margin-left: 20px;
}

.ul-business {
  list-style: none;
  padding-left: 2px;
}

.li-business {
  margin-bottom: 15px;
  margin-left: 20px;
}

.item-business {
  margin-right: 5px;
}

.business-button {
  padding: 10px 20px;
  border: none;
  color: white;
  text-align: center;
}

.business-button-div {
  text-align: center;
}

.orizontal-content {
  margin: 10px 0px 15px 15px;
  width: 65%;
}

.third-box {
  margin: 20px 0px;
}

.orizontal-button-div {
  width: 30%;
  text-align: end;
}

.orizontal-button {
  margin: 20px 0px 0px 40px;
  color: white;
  padding: 10px 30px;
  border: none;
  font-size: 0.7rem;
}

/* partner section */

.partner-section {
  margin: 100px auto;
}

.img-partner {
  margin-right: 20px;
  width: calc(60% - 20px);
}

.text-partner {
  width: 40%;
}

.partner-button {
  padding: 10px 30px;
  background-color: white;
  margin-top: 30px;
}

/* card section */

.card-section {
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: calc(33% - 40px);
  margin-bottom: 50px;
}

.title-card {
  margin-bottom: 40px;
}

.users-div {
  margin-bottom: 80px;
}

.scopri-link {
  margin: 80px 0px 50px;
}

/* sponsor section */

.sponsor {
  flex-wrap: wrap;
}

.sponsor-img-div {
  width: 50%;
  height: 50%;
}

.img-sponsor {
  width: 50%;
  margin: auto;
}

.img-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img-div {
  width: calc(100vw / 6 * 2);
}

.logo-text {
  width: calc(100vw / 6 * 2);
  height: 500px;
  background-color: rgb(245, 245, 245);
}

.logo-text-img {
  width: 50%;
}

#author {
  margin-top: 50px;
}

/* logo bg-color */

.wipro-bg {
  background-color: rgb(162, 211, 155);
}

.arizona-uni {
  background-color: rgb(97, 8, 43);
}

.florida-uni {
  background-color: rgb(0, 147, 206);
}

.topps {
  background-color: rgb(255, 28, 28);
}

.world-bicycle {
  background-color: rgb(213, 0, 31);
}

.lonely-planet {
  background-color: rgb(13, 36, 129);
}

.hearst {
  background-color: rgb(13, 36, 129);
}

.clear-channel {
  background-color: rgb(255, 216, 48);
}

/* logo-text section */

.margin-all {
  margin: 20px 20px 20px;
}

/* free try section */

.try-section {
  height: 200px;
  justify-content: space-around;
  align-items: center;
}

.try-button {
  padding: 10px 30px;
  background-color: white;
  border: none;
}

#red-title {
  color: rgb(99, 53, 100);
}

/* q&a section */

.question {
  justify-content: space-between;
  align-items: center;
  border-top: solid darkgray 1px;
  padding: 20px;
}

.b-bottom {
  border-bottom: solid darkgray 1px;
}

.qea-section {
  margin: 100px auto;
}

/* footer */

footer {
  background-color: black;
  color: white;
  height: 300px;
}

footer li {
  list-style: none;
  padding-right: 0;
  margin: 10px 0px;
}

footer ul {
  padding-left: 0;
}

footer a {
  text-decoration: none;
  color: white;
}

.footer-section {
  justify-content: space-around;
}

footer h2 {
  margin-top: 50px;
}

.hr-div-white {
  border: solid white 1px;
  width: 50px;
  margin-left: 20px;
}

.icon {
  margin-left: 10px;
}
